<div class="am-selectbox-container">
    <div class="am-selectbox-selected-container {{if processedSelectedData '' 'hide'}}">
        <div class="am-selectbox-selected">
            {{#each processedSelectedData as |optionParent|}}
                <div class="path-name">
                    {{#each optionParent.path as |pathKey index|}}
                        <span class="path-node" {{action 'jumpToPath' optionParent.paths index}}>{{pathKey}}</span>
                        {{#unless (eq pathKey optionParent.path.lastObject)}} > {{/unless}}
                    {{/each}}

                    <div class="delete-icon" {{action 'removeSelectedOptionBox' 'path' optionParent.path on='click'}}>
                        {{fa-icon 'times'}}
                    </div>
                </div>

                {{#each optionParent.options as |option|}}
                    <div class="select-option" id="am-selectbox-selected-id-{{option.id}}" {{action 'viewNodeDetail' option 1 on='mouseEnter'}} {{action 'hideNodeDetail' option 1 on='mouseLeave'}}>
                        {{option.name}}

                        <div class="delete-icon" {{action 'removeSelectedOptionBox' 'option' option.id on='click'}}>
                            {{fa-icon 'times'}}
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        </div>

        <div class="am-selectbox-description {{if isDescriptionPanelVisible '' 'hide'}} {{if isLoading 'hide'}} {{if (eq descriptionPanelPosition 1) '' 'hide'}}">
            <div class="title">
                {{isDescriptionPanelVisible.name}}
            </div>

            <div class="detailed">
                <span class="people number">{{isDescriptionPanelVisible.audience_size_str}}</span> <span class="people">people</span>

                <div class="path">
                    {{!--{{isDescriptionPanelVisible.key}}--}}
                    {{#each isDescriptionPanelVisible.path as |path index|}}
                        {{#if (eq index 0)}}<b>{{path}}</b>{{else}}{{path}}{{/if}}
                        {{#unless (eq path isDescriptionPanelVisible.path.lastObject)}} > {{/unless}}
                    {{/each}}
                </div>

                <div class="description {{if isDescriptionPanelVisible.description '' 'hide'}}"><b>Description</b>: {{isDescriptionPanelVisible.description}}</div>
            </div>
        </div>
    </div>

    <div class="am-selectbox-input-container">
        <div class="am-selectbox-input">
            <div class="am-selectbox-input__row input">
                {{input placeholder='Add demographics, interests or behaviors' value=searchQuery focus-in='toggleSelectPanel' key-up='onKeyUp'}}
            </div>

            <div class="am-selectbox-input__row option {{if (and (eq selectedTab TAB_SUGGESTIONS) isSelectPanelVisible) 'active'}} {{if isSuggestionsEnabled '' 'disabled'}}" {{action 'switchTab' TAB_SUGGESTIONS on="click"}}>
                Suggestions
            </div>

            <div class="am-selectbox-input__row option {{if (and (eq selectedTab TAB_BROWSE) isSelectPanelVisible) 'active'}}" {{action 'switchTab' TAB_BROWSE on="click"}}>
                Browse
            </div>
        </div>

        <div 
            class="am-selectbox-list {{if isSelectPanelVisible '' 'hide'}}"
            {{action 'toggleSelectPanel' false on='onMouseLeave'}}
        >
            <div class="am-selectbox-loading {{if isLoading '' 'hide'}}">
                Retrieving suggestions data...
            </div>

            <div class="am-selectbox-browse {{if isLoading 'hide'}} {{if (eq selectedTab TAB_BROWSE) '' 'hide'}}" id="am-selectbox-browse">
                {{#each browseData as |level|}}
                    {{am-selectbox-level 
                        data=level.items 
                        title=level.name 
                        currentLevel='0' 
                        parentComponent=this
                        openedPath=openedPath
                        selectedData=selectedData
                    }}
                {{/each}}
            </div>

            <div class="am-selectbox-suggestions {{if isLoading 'hide'}} {{if (eq selectedTab TAB_SUGGESTIONS) '' 'hide'}}">
                {{#each suggestionsData as |level|}}
                    {{am-selectbox-level 
                        data=level.items 
                        title=level.name 
                        currentLevel='0' 
                        hideParents=true 
                        parentComponent=this
                    }}
                {{/each}}
            </div>

            <div class="am-selectbox-suggestions {{if isLoading 'hide'}} {{if (eq selectedTab TAB_SUGGESTIONS_UNTAB) '' 'hide'}}">
                {{#each suggestionsUntabData as |level|}}
                    {{am-selectbox-level 
                        data=level.items 
                        title=level.name 
                        currentLevel='0' 
                        hideParents=true 
                        parentComponent=this
                    }}
                {{/each}}
            </div>

            <div class="am-selectbox-description {{if isDescriptionPanelVisible '' 'hide'}} {{if isLoading 'hide'}} {{if (eq descriptionPanelPosition 2) '' 'hide'}}">
                <div class="title">
                    {{isDescriptionPanelVisible.name}}
                </div>

                <div class="detailed">
                    <span class="people number">{{isDescriptionPanelVisible.audience_size_str}}</span> <span class="people">people</span>

                    <div class="path">
                        {{!--{{isDescriptionPanelVisible.key}}--}}
                        {{#each isDescriptionPanelVisible.path as |path index|}}
                            {{#if (eq index 0)}}<b>{{path}}</b>{{else}}{{path}}{{/if}}
                            {{#unless (eq path isDescriptionPanelVisible.path.lastObject)}} > {{/unless}}
                        {{/each}}
                    </div>

                    <div class="description {{if isDescriptionPanelVisible.description '' 'hide'}}"><b>Description</b>: {{isDescriptionPanelVisible.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>