<div id="{{nodeId}}">
    {{#if isParent}}
        {{#unless hideParents}}
        <div class="am-selectbox-option am-selectbox-level-{{currentLevel}}" {{action 'toggleExpand'}}>
            <div style="padding-left: 5px;">
                <span class="expand-icon">
                    {{#if isExpanded}}
                        {{fa-icon 'fa-caret-down'}}
                    {{else}}
                        {{fa-icon 'fa-caret-right'}}
                    {{/if}}
                </span> 

                <b>{{title}}</b>
            </div>
        </div>
        {{/unless}}

        {{#if isExpanded}}
            {{#each data as |level|}}
                {{#if level.name}}
                    {{am-selectbox-level 
                        data=level.items 
                        title=level.name 
                        currentLevel=nextLevel 
                        hideParents=hideParents 
                        parentComponent=parentComponent 
                        openedPath=nextLevelOpenedPath
                        selectedData=selectedData
                    }}
                {{/if}}
            {{/each}}
        {{/if}}
    {{else}}
        <div class="am-selectbox-option am-selectbox-level-{{currentLevel}}" {{action 'addSelectedData' data isChecked on='click'}} {{action 'viewNodeDetail' data on='mouseEnter'}} {{action 'hideNodeDetail' data on='mouseLeave'}}>
            {{#if data.name}}
                <span class="expand-icon" style="visibility: hidden;">{{fa-icon 'fa-caret-right'}}</span> <b>{{data.name}}</b>

                <div class="right-type">
                {{#if hideParents}}
                    {{data.path.[0]}}
                {{else}}
                    {{#if isChecked}}
                        {{fa-icon 'fa-check-square-o'}}
                    {{else}}
                        {{#if data.id}}
                            {{fa-icon 'fa-square-o'}}
                        {{else}}
                            {{fa-icon 'fa-search'}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>