$selectBoxWidth: 500px;
$maxLevel: 5;

// SASS Templates
@mixin box-shadow() {
    -webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.28);
    box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.28);
}

// The container for this component
.am-selectbox-container {
    width: $selectBoxWidth;
    color: rgb(106, 106, 106);
    font-size: 12px;
    
    * {
        max-width: 100%;
    }

    // Loading box
    .am-selectbox-loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: rgb(204, 204, 204);
    }

    // description box
    .am-selectbox-description {
        // display: flex;
        z-index: 999;
        position: absolute;
        height: 100%;
        top: 0px;
        left: $selectBoxWidth - 1;
        width: 220px;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        min-height: 160px !important;

        @include box-shadow();

        .title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            // position: absolute;
            // top: 0px;
            // left: 0px;
            font-size: 14px;
            width: 100%;
            padding: 5px 5px 5px 15px;
            font-weight: bold;
            border-bottom: 1px solid rgb(229, 229, 229);
            background-color: rgb(246, 247, 249);
        }

        .detailed {
            padding: 15px 15px 15px 15px;

            .people {
                font-weight: bold;
                color: rgb(25, 25, 25);
                font-size: 13px;
            }
            .people.number {
                font-size: 18px; 
            }

            .path, .description {
                margin-top: 10px;
            }
        }
    }
}

// Selected Box
.am-selectbox-selected-container {
    display: flex;
    position: relative;
    z-index: 111;
    border: 1px solid rgb(189, 199, 216);
    border-bottom: 0px;
    width: $selectBoxWidth;
    // font-size: 13px;
    padding: 10px 0px 10px 0px;

    .am-selectbox-selected {
        overflow-x: hidden;
        overflow-y: auto;

        max-height: 240px;
        width: 100%;
    }

    .select-option, .path-name {
        padding: 5px 16px 5px 16px;
        cursor: default;

        &:hover {
            background-color: rgb(246, 247, 249);

            .delete-icon {
                visibility: visible;
                cursor: pointer !important;
            }
        }

        .delete-icon {
            float: right;
            color: rgb(174, 177, 183);
            visibility: hidden;
        }
    }

    .select-option {
        padding-left: 35px;
        font-weight: bold;
    }

    .path-name {
        padding-bottom: 5px;

        .path-node {
            color: rgb(59, 89, 152);
            cursor: pointer !important;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Input and selections
.am-selectbox-input-container {
    position: relative;
    z-index: 111;
}

.am-selectbox-input {
    display: table;
    border: 1px solid rgb(189, 199, 216);
    width: $selectBoxWidth;
    padding: 5px 5px 5px 5px;
    font-size: 13px;

    .am-selectbox-input__row {
        display: table-cell;
    }

    .am-selectbox-input__row.option {
        width: 1%;
        padding: 0 5px 0 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .am-selectbox-input__row.disabled {
        color: rgb(204, 204, 204);
        pointer-events: none;
    }

    .am-selectbox-input__row.active {
        color: rgb(97, 151, 255);
    }

    .am-selectbox-input__row.input {
        padding: 0px 5px 0px 5px;

        input {
            position: relative;
            width: 100%;
            border: none;

            &:focus {
                outline: none;
            }
        }
    }
}

// Select Box Panel
.am-selectbox-list {
    display: flex;
    position: absolute;
    z-index: 888;
    top: 33px; left: 0;
    min-height: 90px;
    max-height: 250px;
    width: 100%;
    background-color: white;

    @include box-shadow();

    * {
        z-index: 888;
    }

    // Browse Panel
    .am-selectbox-browse, .am-selectbox-suggestions {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        width: 100%;
        position: relative;
    }

    // Levels
    @for $i from 0 through $maxLevel {
        .am-selectbox-level-#{$i} {
            display: relative;
            padding: 7px 7px 7px calc(15px * #{$i});
            width: 100%;
        }
    }

    .am-selectbox-option {
        width: 100% !important;
        cursor: pointer;
        border-bottom: 1px solid rgb(233, 234, 237);

        &:hover {
            background-color: rgb(246, 247, 249);
        }

        .expand-icon {
            width: 15px;
            display: inline-block;
            text-align: center;
        }

        .right-type {
            float: right;
        }
    }
}